

  

<table class="table table-striped" >
	<thead>
		<tr>
			<th>Имя:</th>
			<th>Телефон:</th>
			<th>Дата записи:</th>
			<th>Имя Мастера:</th>
			<th>Цвет:</th>
		</tr>	

	</thead>

	<body>
	  <% @results.each do |row| %>
	  	<tr>
	  		<td><%= row['name'] %></td>
	  		<td><%= row['phone'] %></td>
	  		<td><%= row['date_stamp'] %></td>
	  		<td><%= row['name_master'] %></td>
	  		<td><%= row['color'] %></td>
	  	</tr>	

	  <%  end %>
	</body>  
</table>
  		
 